# Dependencies
node_modules/
**/node_modules/

# Turbo
.turbo
turbo.log

# Env
.env
.env.local
.env.*.local
*.env

# Build outputs
dist/
build/
.next/
out/

# Logs
*.log
npm-debug.log
yarn-error.log
pnpm-debug.log
